html{
    width: 100%;
    height: 100%;
   }
   body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    
   }

   label{
    margin-bottom:20px;
   }

   .halaman{
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(../img/bg-login.jpg) ;
    background-size:cover;
   }

   .gambar{
    width: 50%;
    display: flex;
    border: 0 solid #e5e7eb;;
    justify-content: center;
    align-items: center;
    /* background-color: #232130; */
   }
   .hal-login{
    width: 35%;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    flex-direction: column;
    background-color: #261d5a;
   }
   .container{
    width: 70%;
    height: 100%;
    background-color: #261d5a;
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
   }
   .detail-cont{
    width: 80%;
   }
   .detail-cont h2{
    font-size: 30px;
    font-weight: 600px;
    color: #d8d7df;
   }
   .detail-cont p{
    font-size: .875rem;
    font-weight: 500px;
    color: #d8d7df;
   }

   .logo{
    padding-top: 50px;
   }

   .form{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
 
   .input-icon {
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #1a1240;
    outline: none;
    border: 1px solid rgb(44, 44, 44);
    color: white;
    display: flex;
    flex-direction: row-reverse;
   }
   .input-icon:focus-within{
    border: 1px solid #4d94f2;
   }
   .input-icon input{
    width: 100%;
    background-color:transparent;
    border: 0;
    margin-left: 20px;
    font-size: 15px;
    color: white;
 
   }
   .input-icon input:focus + i{
    color: #4d94f2;
   }
   .input-icon input:focus{
    outline: none;
    
   }
 
   input:focus{
    border-color: #4d94f2;
   }
   .form label{
    font-size: 20px;
    font-weight: 450px;
    color: white;
    padding: 20px 0px;
   }
   .form a{
    font-size: 15px;
    font-weight: 400px;
    color: grey;
    text-align: right;
    padding: 20px 0px;
    text-decoration: none;
    transition: all 0.2s;
    
   }
   .form a:hover{
    color: rgb(172, 169, 169);
    font-weight: 500;
    text-decoration: none;
   }
   button{
    width: 100%;
    padding: 20px 0px ;
    font-size: 20px;
    font-weight: 600;
    background-color: #267beb ;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: all 0.5s ;
   }
   button:hover{
    background-color: #1d5fb4;
   }
   .detail-regis{
    width: 100%;
    font-size: 15px ;
    color: grey;
    padding: 10px 0px;
   }
   .detail-regis a{
    color: #00b887 ;
    text-decoration: none;
    font-weight: 600;
   }
   a:hover{
    text-decoration: underline;
   }